* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #50504b;
}

:root {
  --bgc: rgb(187, 195, 201);
  --black: #50504b;
  --hoverbgc: rgb(223, 222, 222);
}
#hwrap {
  overflow: hidden;
}
#hslide .move {
  width: 100%;
  color: #f5f5f5;
}

#hslide {
  width: 100%;
  display: flex;
  text-align: center;
  animation: slidingText;
  /* animation-duration: 8s; */
  animation-timing-function: ease-in-out;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /* transition: transform 2s; */
}
@keyframes slidingText {
  0% {
    transform: translate(0%);
  }
  18% {
    transform: translate(0%);
  }
  20% {
    transform: translate(-100%);
  }
  38% {
    transform: translate(-100%);
  }
  40% {
    transform: translate(-200%);
  }
  58% {
    transform: translate(-200%);
  }
  60% {
    transform: translate(-300%);
  }
  78% {
    transform: translate(-300%);
  }
  80% {
    transform: translate(-400%);
  }
  95% {
    transform: translate(-400%);
  }
  100% {
    transform: translate(-400%);
  }
}
#hslide .move {
  width: 100%;
  flex-shrink: 0;
}

#searchbar {
  display: flex;
  align-items: center;
  font-size: 25px;
  width: 20vw;
  border-radius: 10px;
  padding: 20px 10px;
  border: 1px solid grey;
  height: 5vh;
  position: relative;
  right: 2.6vw;
  color: #50504b;
  visibility: hidden;
}

#searchbar > input {
  width: 90%;
  height: 4vh;
  font-size: 20px;
  border: none;
  outline: none;
}

#cross:hover {
  cursor: pointer;
  width: 20px;
}

#mainbox {
  z-index: 1000;
  border: none;
  top: 0px;
  border: 1px solid grey;
  position: sticky;
}

#mainbox > div:first-child {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #50504b;
  color: aliceblue;
}

#mainbox > div:last-child {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#mainbox > div {
  border: none;
}

#menuBar img {
  width: 30px;
  margin: 70px;
  cursor: pointer;
  transition: 0.8;
}
#menuBar > img:first-child {
  position: relative;
  left: 5vw;
}

#logo ~ img {
  margin-left: -60px;
}

#logo ~ img:last-child {
  margin-right: 10%;
}

#logo ~ img:hover {
  /* background-color: var(--bgc); */
  height: 35px;
  width: 35px;
}

#menuBar > img:first-child:hover {
  height: 35px;
  width: 35px;
}

#menuBar > img:nth-child(2) {
  margin-left: 30vw;
  width: fit-content;
}

body {
  /* background-color: yellow; */

  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#mainbox > div a {
  color: whitesmoke;
}

#navText > div {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
}

/* #menuOptn {
  border: 1px solid;
  position: fixed;
  top: 200px;
  width: 100%;
  height: 300px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
} */
#container {
  z-index: 1000;
  display: flex;
  width: 100%;
  top: 200px;
  position: fixed;
  background-color: white;
  height: 50vh;
  justify-content: center;
  /* js here */
  visibility: hidden;
}
#container > div {
  width: 49%;
}
#rightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#rightbox > img {
  width: 80%;
  border-radius: 15px;
  position: relative;
}

#leftbox {
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
}

#leftbox::-webkit-scrollbar {
  width: 0.2vw;
}

#leftbox::-webkit-scrollbar-thumb {
  background: #797972;
}

#leftbox::-webkit-scrollbar-track {
  background: #f5f5f5;
}

#page {
  list-style: none;
  display: grid;
  flex-direction: row;
}

#page ul {
  left: 60px;
  width: 20vw;
  flex-direction: row;
  display: grid;
  /* change this */
  position: absolute;
  visibility: hidden;
}

#page a {
  margin-top: 12px;
  color: var(--black);
  line-height: 30px;
  text-decoration: none;
  color: black;
  font-weight: 600;
  margin-bottom: 10px;
}

#page a i {
  /* border:1px solid; */
  width: 5%;
  box-sizing: content-box;
  padding: 5px;
  left: 3%;
  position: relative;
}

ul a li {
  /* border:1px solid; */
  width: 89%;
  display: inline-block;
}
ul a li:hover {
  background-color: var(--hoverbgc);
}
#page a i:hover {
  background-color: var(--hoverbgc);
}

#page ul a:hover {
  background-color: var(--hoverbgc);
}
/* css for bag */
/* #bag{ */
/* border:1px solid red; */
/* transition: 4s; */
/* width:25%;
  height: 100vh;
  background-color: white;
  top:0%;
  left:75%;
  visibility: hidden;
  position: fixed;
}
#bag span{
  color: #ff6781;
}
#bag .head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border:1px solid; */
/* width:90%;
  margin:auto;
  margin-top:20px;
  font-size: 18px;
}
.head h2{
  display: inline-block;
}
#bag i {
  font-size: 25px;
  cursor: pointer;
} 
#first-line{
  width:90%;
  background-color: black;
  margin: auto;
  margin-top: 15px;

}

#empty-para{
font-size: 20px;
margin:auto;
width: 80%;
margin-top: 30vh;
} */
.sale {
  width: 100%;
  margin-bottom: 30px;
}
.sale img {
  cursor: pointer;
  width: 100%;
}
.catageory-container {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.catageory-container .cata-box {
  cursor: pointer;
  border-radius: 15px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.catageory-container .cata-box img {
  border-radius: 15px 15px 0px 0px;
}
.catageory-container .cata-box P {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  width: 50%;
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 15px;
}
/* css for 1st slider */
.slide {
  width: 100%;
  /* height: 100px;  */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper {
  width: 100%;
  z-index: 1;
  /* height: fit-content;  */
}

.swiper-slide img {
  width: 100%;
}
.swiper-slide img:hover {
  cursor: pointer;
}
.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: black;
}
.swiper .swiper-pagination-bullet-active {
  background: white;
}
.loverby {
  font-size: 26px;
  width: 10%;
  margin: auto;
  text-align: center;
  margin-top: 10px;
}
.catageory {
  font-size: 50px;
  width: 40%;
  margin: auto;
  text-align: center;
}
.catageory span {
  font-style: italic;
  font-weight: 600;
}
#birthday-sale {
  margin-top: 70px;
  width: 100%;
}
#birthday-img {
  cursor: pointer;
  width: 80%;
  margin: auto;
  border-radius: 10px;
}
#birthday-img img {
  width: 100%;
  border-radius: 10px;
}
.bestseller {
  font-size: 30px;
  color: black;
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
}
.our {
  margin-top: 40px;
  font-size: 20px;
  color: black;
  font-style: italic;
  text-align: center;
}
#catageory-2 {
  margin-bottom: 50px;
}
#catageory-2 ul {
  width: 100%;
}
#catageory-2 ul div {
  display: flex;
  margin: auto;
  justify-content: space-evenly;
  width: 28%;
}
#catageory-2 ul div li {
  cursor: pointer;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
}
#catageory-2 ul div li:first-child {
  color: #ff638b;
}
/* <!-- sliding divs-1-start --> */
/* dont-needed-we-used class */
/* <!-- sliding divs-1-end --> */

.SHOP-OUR {
  margin-top: 80px;
  font-size: 22px;
  color: black;
  text-align: center;
}
.NEW-ARRIVALS {
  font-size: 33px;
  /* font-weight: 600; */
  color: black;
  text-align: center;
  font-style: italic;
  margin-bottom: 80px;
}

/* <!-- sliding divs-2-start --> */
.gallery {
  height: 100%;
  width: 100%;
  display: flex;
  margin: 5% auto 0;
  box-sizing: border-box;
}
.image-box {
  height: 100%;
  margin: 0 1%;
  flex-grow: 1;
  flex-basis: 0;
  transition: 1s;
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 1s;
  cursor: pointer;
}
.image-box:hover {
  flex-basis: 10%;
}
.active {
  flex-basis: 10%;
}
.gallery:hover .active {
  flex-basis: 0;
}
.image-box:nth-child(3):hover {
  flex-basis: 10%;
}
/* <!-- sliding divs-2-start --> */

/* <!-- aman-css-start --> */
#spotlight_aman {
  width: 90%;
  margin: auto;
}
#spotlight_aman > div:first-child {
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: space-between;
  margin-bottom: 10px;
}
#spotlight_aman > div:last-child {
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: space-between;
}
#spotlight_aman img {
  cursor: pointer;

  width: 100%;
  height: 100%;
  border-radius: 20px;
}
/* <!-- aman-css-end --> */
.container-manual-div-nikhil {
  display: grid;
  grid-template-columns: 25% 33% 25%;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.manual-cards-nikhil img {
  cursor: pointer;

  width: 100%;
  border-radius: 20px;
}

/* SUNIL-CSS-STARTS */
#ikwi {
  cursor: pointer;

  width: 80%;
  margin: auto;
  margin: 200px auto 200px 200px;
}

#a2 {
  text-align: center;
  line-height: 10px;
  margin-top: 60px;
  margin-bottom: 60px;
}

#a4 {
  text-align: center;
}

#para {
  width: 74%;
  margin: auto;
  font-size: 25px;
}

#para > p {
  text-align: center;
}

#para > p:nth-child(2) {
  margin-top: 50px;
}

.clean {
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.clean > div > img {
  cursor: pointer;

  width: 170px;
}

/* //////////////////////////////////////// */

* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #717171;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

.mySlides fade > img {
  border: 1px solid red;
  margin-left: 20%;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
/* SUNIL CSS ENDS HERE */

/* my bottom-contribution-start */
#text-divs-nikhil {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 20%);
  gap: 50px;
  justify-content: center;
  /* border:1px solid; */
}
.text-nikhil p {
  font-size: 18px;
  color: black;
  text-align: center;
}
.text-nikhil img {
  cursor: pointer;
  width: 50%;
  margin: 0px 70px;
}
   #journal_aman_hero {
        display: flex;
        width: 80%;
        margin: auto;
      }
      #journal_aman_hero > div:first-child {
        display: flex;
        width: 50%;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      #journal_aman_hero > div:last-child {
        /* display: flex;
            flex-direction: column;
            align-items: center; */
        width: 50%;
        padding: 0px;
      }
      #journal_aman_hero > div:last-child > div {
        width: 70%;
        display: flex;
        margin: auto;
        justify-content: center;
        justify-content: space-around;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
        align-items: center;
        margin-top: 200px;
      }
      #journal_aman_hero > div:last-child > div > p {
        font-size: 22px;
        text-align: center;
        color: rgb(56, 54, 54);
        margin-bottom: 70px;
      }
      #journal_aman_hero img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
      }
      #journal_aman_hero > div:last-child button {
        display: block;
        margin: auto;
        margin-top:20px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
        padding: 10px 20px;
        border-radius: 20px;
        font-weight: 600;
        color: white;
        background-color: black;
        cursor: pointer;
      }
      #journal_aman_hero > div:last-child button:hover {
        color: black;
        background-color: rgb(51, 130, 167);
      }
      #journal_aman_hero > div:last-child button a{
        color: white;
        text-decoration: none;
      }

      /* slider by aman */
      .slideshow-container2 {
      max-width: 100%;
      margin: auto;
      /* height: 300px; */
    }
    .mySlides2 {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }
    .card {
        transition: 3s;
      flex-basis: 22%;
      /* border: 1px solid red; */
    }
    .mySlides2 > div > img {
      width: 100%;
      border-radius: 10px;
        transition: 10s;

      /* height: 100%; */
    }
    .buttons {
      flex-basis: 2%;
      display: flex;
      align-items: center;
      justify-content: center;
      content: ">";
    }
    .buttons > button {
      /* width: 35px;
      height: 35px;
      border-radius: 50%; */
      border:none;
      font-size: xx-large;
      background: transparent;
        cursor: pointer;
    }
    .button2 {
      margin-left: -30px;
    }
    .button1 {
      margin-right: -30px;
    }
    .middleCard {
      transform: scaley(1.5) scaleX(1.2);
      /* transform: scalex(1.3); */
    }
    /* slider-2 */
     .slideshow-container3 {
        /* border: 1px solid; */
      max-width: 100%;
      margin: auto;
      /* height: 300px; */
    }
    .mySlides3 {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
    }
    .card1 {
        transition: 3s;
      flex-basis: 22%;
      /* border: 1px solid red; */
    }
    .mySlides3 > div > img {
      width: 100%;
      border-radius: 10px;
        transition: 10s;

      /* height: 100%; */
    }
    .buttons1 {
      flex-basis: 2%;
      display: flex;
      align-items: center;
      justify-content: center;
      content: ">";
    }
    .buttons1 > button {
      /* width: 35px;
      height: 35px;
      border-radius: 50%; */
      border:none;
      font-size: xx-large;
      background: transparent;
        cursor: pointer;
    }
    .button4 {
      margin-left: -30px;
    }
    .button3 {
      margin-right: -30px;
    }
    .middleCard1 {
      transform: scaley(1.5) scaleX(1.2);
      /* transform: scalex(1.3); */
    }

    /* footer */
      #conter
        {   
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: rgb(114, 96, 96);
          width: 100%;
          line-height: 50px;
          font-size: 18px;
           display: grid;
           grid-template-rows: 200px;
           grid-template-columns: 30% 30% 38%;
          
         padding-top: 80px;
        
       


        }
       
        #conter>div
        {
            margin-left: 100px;
        }
        .fal{
            display: flex;
            margin-top: 15px;
       
            align-items: center;
        }
        
        .imggg{
            width: 30px;
            height: 29px;
            margin: 5px;

        
        }
        #inpdesk
        { width: 250px;
           height: 50px;
           border-top: 20px;
           border-left:2px ;
           border-right: 2px;
           margin: 10px;
           text-align: center;
           font-size: 18px;
        }
       #emailbtnnn
        {
            width: 80px;
            height: 50px;
            color: white;
            border: none;
            display: inline;
            cursor: pointer;
            background-color: rgb(65, 53, 53);
        }
        #cont
        {
            display: none;
        }
        .anc{
            color: rgb(114, 96, 96);
           text-decoration: none;

        }
        #conter div p{
            cursor: pointer;
        }